# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS system files
.DS_Store

# Uploads folder (agar gambar sampel tidak ikut terupload, opsional)
uploads/